<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/4408c438f7.js" crossorigin="anonymous"></script>

    <title>
        {% block title %}
            default title
        {% endblock %}
    </title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <i class="fas fa-tags"></i>

        Statement Labeling
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/label">
                        <i class="fas fa-pen-square"></i>
                        New Label
                    </a>
                </li>
            {% endif %}
        </ul>

        {% if user.is_authenticated %}
            <span class="navbar-text">
                <a href="/logout">
                    <i class="fas fa-sign-out-alt"></i>
                    Log Out
                </a>
            </span>
        {% else %}
            <span class="navbar-text">
                <a href="/login">
                    <i class="fas fa-sign-in-alt"></i>
                    Log In
                </a>
            </span>
        {% endif %}

    </div>
</nav>
<div class="row justify-content-center">
    <div id="content" class="col-8 mt-5">
        {% block content %}
            <h1>default content</h1>
        {% endblock %}
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static "js/bootstrap-notify.js" %}"></script>
</body>
<script>
    if ('{{ notify }}') {
        notify(django_var_parse('{{ notify }}'));
    }

    function notify(notify_data) {
        let type = notify_data['type'];
        let title = notify_data['title'];
        let message = notify_data['message'];
        let icon;
        switch (type) {
            case 'danger':
                icon = 'fas fa-times-circle';
                break;
            case 'success':
                icon = 'fas fa-check-circle';
                break;
            case 'warning':
                icon = 'fas fa-exclamation-circle';
                break;
        }

        $.notify({
            icon: icon,
            title: '<strong>' + title + '</strong><br/>',
            message: message,
        }, {
            type: type,
        });
    }

    function django_var_parse(string) {
        try {
            return JSON.parse(string.replace(/&#39;/g, '"'));
        } catch (ignored) {
            return undefined;
        }
    }
</script>
</html>