{% extends 'base.html' %}
{% block title %}
    Label Statement
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Label Statement</h1>
    <form method="post" class="form-group">
        <div dir="rtl">
            {% csrf_token %}
            {{ form|crispy }}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <button type="submit" name="Neutral" class="btn-lg btn btn-secondary btn-warning">
                        <i class="fas fa-question-circle fa-2x"></i>
                        <br>
                        Neutral
                    </button>
                </div>
                <div class="col-10">
                    <div class="btn-group btn-group-lg d-flex" role="group">
                        <button type="submit" name="Positive" class="btn btn-secondary btn-success">
                            <i class="fas fa-plus-circle fa-2x"></i>
                            <br>
                            Positive
                        </button>
                        <button type="submit" name="Negative" class="btn btn-secondary btn-danger">
                            <i class="fas fa-minus-circle fa-2x"></i>
                            <br>
                            Negative
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>
{% endblock %}