{% extends 'base.html' %}
{% block title %}
    Label Statement
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Label Statement</h1>
    <form method="post" class="form-group">
        <div dir="rtl">
            {% csrf_token %}
            {{ form|crispy }}
        </div>
        <div class="btn-group btn-group-lg d-flex" role="group">
            <button type="submit" name="positive" class="btn btn-secondary btn-success">Positive</button>
            <button type="submit" name="negative" class="btn btn-secondary btn-danger">Negative</button>
        </div>

    </form>
{% endblock %}