{% extends 'base.html' %}
{% block title %}
    Label Statement
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Label Statement</h1>
    <form method="post" class="form-group">
        <div dir="rtl">
            {% csrf_token %}
            {{ form|crispy }}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="btn-group btn-group-lg d-flex" role="group">
                        <button type="submit" name="Positive" class="btn btn-success col-6">
                            <i class="fas fa-plus-circle fa-2x"></i>
                            <br>
                            Positive
                        </button>
                        <button type="submit" name="Negative" class="btn btn-danger col-6">
                            <i class="fas fa-minus-circle fa-2x"></i>
                            <br>
                            Negative
                        </button>
                    </div>
                </div>
                <div class="col-12">
                    <div class="btn-group btn-group-lg d-flex" role="group">
                        <button type="submit" name="Neutral" class="btn-lg btn btn-warning col-6">
                            <i class="fas fa-pause-circle fa-2x"></i>
                            <br>
                            Neutral
                        </button>
                        <button type="submit" name="Vague" class="btn-lg btn btn-secondary col-6">
                            <i class="fas fa-question-circle fa-2x"></i>
                            <br>
                            Vague
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <label for="progress">Overall Crowd-Labeling progress</label>
        <div id="progress" class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ progress_percentage }}%;"
                 aria-valuenow="{{ progress_percentage }}"
                 aria-valuemin="0"
                 aria-valuemax="100">{{ progress_percentage }}%
            </div>
        </div>
        <br/>
        <label for="performance">Your Performance</label>
        <div id="performance">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge badge-info">{{ max_possible_label_count }}</span>
                    Available
                </li>
                <li class="list-group-item">
                    <span class="badge badge-success">{{ user_label_count }}</span>
                    Labeled
                </li>
            </ul>
        </div>

    </form>
{% endblock %}